#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# toupload
toupload/d*
toupload/backup*


# .tfvars files
*.tfvars
!mysecrets.tfvars

# all exe files
*.exe

*.todo